@import 'bootstrap';

#center-container{
    text-align: center;
    height: 85vh;
    width: 88vw;
    border: solid 4px white;
    border-radius: 25px;
    padding: 0 15% 0 15%;
}

$bg:lightblue;
$textcolor:darkblue;
$fontsize:24px;
$textalign:center;
